<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Fabricación, venta y reparación de maquinaria
              de cualquier sector industrial (fresadoras CNC para madera, hierro, etc). La maquinaria que se fabrica en esta empresa
              es totalmente personalizada, adaptada al cliente, y en la cual se puede usar
              tecnología de todo tipo (Control Númerico - [Maquinaria CNC], pantallas táctiles, autómatas, etc).">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="/uploads/images/logo_ICO.ico" />
        <script src="{{asset('js/jquery-1.9.1.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/menu/js/superfish.js')}}" type="text/javascript"></script> 
        <script src="{{asset('bundles/menu/js/hoverIntent.js')}}" type="text/javascript"></script> 
    </head>
    <body id="{% block id ''%}">
        <div id="contenedor">
            {% block body %}{% endblock %}

            {% block javascripts %}{% endblock %}
        </div>
        <footer>
            &copy; {{'now'|date('Y')}} - Ingeniería, Sistemas y Control
            <a href="{{path('contacto')}}">Contacto</a>
        </footer>
    </body>
</html>
