{% extends '::base.html.twig'%}

{% block stylesheets %}
<link href="{{asset('bundles/menu/css/menu.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/menu/css/superfish.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{asset('bundles/menu/css/superfish-vertical.css')}}" rel="stylesheet" media="screen" type="text/css">
{% endblock %}

{% block body %}
<img alt="Logo ISC" src="/uploads/images/logo.jpg"/>
<div>
    <ul class="sf-menu sf-vertical">
        <li><a href="{{path('portada')}}">Home</a></li>
        <li>
            <a href="#">Productos</a>
            <ul>
                <li><a href="#">Maquinaria Nueva</a></li>
                <li><a href="#">Maquinaria Usada</a></li>
                <li><a href="#">Maquinaria Especial</a></li>
            </ul>
        </li>
        <li><a href="#">Localización</a></li>
        <li><a href="{{path('contacto_menu')}}">Contacto</a></li>
    </ul>
</div>
<aside id="aside_short">
    
    {% block aside %}{% endblock%}
</aside>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    jQuery(document).ready(function(){
    jQuery('ul.sf-menu').superfish({
      animation: {height:'show'},   // slide-down effect without fade-in
      delay:     500               // 0.5 second delay on mouseout
    });
  });
     
</script>
{% endblock %}