{% extends '::base.html.twig'%}

{% block stylesheets %}
<link href="{{asset('bundles/menu/css/menu.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/menu/css/superfish.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{asset('bundles/menu/css/superfish-vertical.css')}}" rel="stylesheet" media="screen" type="text/css">
{% endblock %}

{% block title %} Ingeniería, Sistemas y Control{% endblock %}

{% block body %}
<img alt="Logo ISC" src="/uploads/images/logo.jpg" />
<aside id="aside_dim">
    <div id="div_dim" style="position: absolute;  left: 30%;">
        <h1 id="text_whiteBox" style="text-align:center;" >Ingeniería, Sistemas y Control</h1>
        <h4 id="text_whiteBox" style="text-align:justify;">Empresa de fabricación,
        venta y reparación de maquinaria industrial (fresadoras CNC para madera, hierro, etc). 
        La maquinaria industrial que se fabrica es totalmente adaptable a las necesidades 
        del cliente y se puede enfocar a cualquier ámbito industrial (carpintería, metalurgia, etc).
        </h4>
        <h2 id="text_whiteBox" style="text-align:center;" >Página web en construcción</h2>
        <h4 id="text_whiteBox" style="text-align:justify;">Esta página web está en construcción. 
            La página web estará pronto disponible. En caso de que quiera contactar 
        con nosotros puede hacerlo en: </h4>
        <h4 style="position: absolute; left: 110px; color: #0101DF; text-align: center;">telf: (+34)676979788 <br/> email: juancq.isc@gmail.com</h4>
        <img style="position: absolute; left: 10px;" alt="Gif Robot" src="/uploads/images/arm_med_white.gif">
    </div>
    
</aside>

{% endblock %}
