{% extends '::base.html.twig'%}

{% block stylesheets %}
<link href="{{asset('bundles/menu/css/menu.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/menu/css/superfish.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{asset('bundles/menu/css/superfish-vertical.css')}}" rel="stylesheet" media="screen" type="text/css">
{% endblock %}

{% block title %}
    ISC - Contacto
{% endblock %}

{% block body %}
<img alt="Logo ISC" src="/uploads/images/logo.jpg" />
<aside id="aside_dim">
    <div id="div_dim" style="position: absolute;  left: 30%;">
        <h1 id="text_whiteBox" style="text-align:center;" >Ingeniería, Sistemas y Control</h1>
        <p id="text_whiteBox" style="text-align:center;">
            Polig. Ind. La Viñuela<br/>Calle del Mueble, 22<br/>Lucena (Córdoba)
        </p>
        <p id="text_whiteBox" style="text-align:center;"><strong>Juan Cañete Quesada</strong><br/>móvil: (+34)676979788
        <br/>email: juancq.isc@gmail.com</p>
    </div>
    
</aside>

{% endblock %}
