{% extends '::frontend.html.twig' %}


{% block id 'portada'%}

{% block title %}
    ISC - Contacto
{% endblock %}
    
{% block aside%}
<div id="div_dim" style="position: absolute;  left: 30%;">
        <h1 id="text_whiteBox" style="text-align:center;" >Ingeniería, Sistemas y Control</h1>
        <p id="text_whiteBox" style="text-align:center;">
            Polig. Ind. La Viñuela<br/>Calle del Mueble, 22<br/>Lucena (Córdoba)
        </p>
        <p id="text_whiteBox" style="text-align:center;"><strong>Juan Cañete Quesada</strong><br/>móvil: (+34)676979788
        <br/>email: juancq.isc@gmail.com</p>
</div>
    
    
{% endblock%}
