{% extends '::frontend.html.twig' %}


{% block id 'portada'%}

{% block aside %}
<p id="text_whiteBox">Empresa de fabricación, venta y reparación de maquinaria industrial (fresadoras CNC para madera, hierro, etc). La maquinaria industrial que se fabrica es totalmente adaptable a las necesidades del cliente y se puede enfocar a cualquier ámbito industrial (carpintería, metalurgia, etc).</p> 
{% endblock%}
