/* 
    Document   : menu
    Created on : 20-abr-2013, 18:49:21
    Author     : Juan
    Description:
        Purpose of the stylesheet follows.
*/

body
{
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Times New Roman";
    font-size: 18px;
}

/*Aside*/
aside
{
    background-color: #FFFFFF;
}

#text_whiteBox
{
    color: #000000;
}

#aside_dim
{
    width: 100%;
    height: 500px;
}

#aside_short
{
    height: 500px;
    position: absolute;
    left: 226px;
    right: 5%;
    border-style: ridge;
    border-width: 2px;
    background-color: #EFEDED;
}

/*Div*/
#div_dim
{
    width: 400px;
    height: 200px;
}
/*Links*/
a:link
{
    color: #4444dd;
}

a:visited
{
    color: #AA3333;
}

a:hover
{
    color: #ee0000;
}

#contenedor
{
    width: 100%;
    height: 600px;
}
